<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<p><%= @post.id %> 번째 글</p>
<p><%= @post.username %></p>
<p><%= @post.title %></p>
<p><%= @post.content %></p>

<a class="btn btn-primary" href="/posts/<%= @post.id %>" data-method="delete" data-confirm="너 진짜 지울래?" role="button">삭제</a>
<a class="btn btn-primary" href="/posts/<%= @post.id %>/edit" role="button">수정</a>
